<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/genericArtifact/src/test/java/com/bae/Blackjack/MainApp/BlackJack.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bae.Blackjack.MainApp.BlackJack"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="genericArtifact"/>
</launchConfiguration>
